:root {
    --color-text: #FFFFFF;
    --color-title: #000000;
    --color-genre: #FF6B08;
    --bgc-btn: #FF6B01;
    --color-underline: #FF001B;
    --bgc-footer-arrow: #F7F7F7;
    --color-footer: #545454;
    --bgc: #FFFFFF;
    --color-category: #8C8C8C;
  
    --fontFamily-roboto: 'Roboto', normal;
  
    --default-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  