<div class="js-feedback-backdrop is-hidden">
    <div class="feedback-modal">
        <button class="button feedback-form__close-btn" data-action="close-feedback-modal">
            <svg class="feedback-form__close-icon" height="30" width="30">
                <use href="/src/images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <form class="feedback-form" target="_blank" action="https://formsubmit.co/filmoteka.feedback@gmail.com"
            method="POST" autocomplete="on">

            <h2 class="feedback-form__title">Have any question? Fill out the form below to contact with us</h2>
            <input type="hidden" name="_next" value="https://kaminskysergey.github.io/Filmoteka/thank-page.html">
            <label class="feedback-form__lable">
                Name: 
                <input class="feedback-form__input feedback-form__input--name" type="text" name="name"
                    placeholder="Enter your name" required>
                <svg class="feedback-form__input-icon" height="18" width="18">
                    <use href="/src/images/sprite.svg#icon-person"></use>
                </svg>
            </label>
            <label class="feedback-form__lable">
                Email:
                <input class="feedback-form__input feedback-form__input--email" type="email"
                    placeholder="example@email.com" name="email" required>
                <svg class="feedback-form__input-icon" height="18" width="18">
                    <use href="/src/images/sprite.svg#icon-email"></use>
                </svg>
            </label>
            <label class="feedback-form__lable">
                Message:
                <textarea class="feedback-form__input feedback-form__input--textarea-message" name="message"
                    placeholder="Enter your question here" required></textarea>
            </label>
            <button class="button feedback-form__submit-button" type="submit">SEND</button>
        </form>
    </div>
</div>