<div class="container">
  <ul class="list filter-list">
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Comedy</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Fantasy</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Horror</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Action</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Drama</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Mystery</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Adventure</button>
    </li>
  </ul>
</div>
