<div class="container">
  <ul class="list filter-list">
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Comedy</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Fantasy</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Horrors</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Action</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Melodramas</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Mystique</button>
    </li>
    <li class="filter-list__item item">
      <button class="filter-list__btn" type="button">Detective</button>
    </li>
  </ul>
</div>
