<div class="footer-backdrop">
    <div class="footer-modal">
        <h2>
            <svg class="footer-modal__svg">
                <use href="/src/images/sprite.svg#icon--1"></use>
            </svg>
        </h2>
        
            <ul class="footer-team__list">
                <li class="footer-item">
                        
                            <img class="footer-img__team" id="1" src="/src/images/team/Inna.jpg" alt="Inna">
                        
                            <div class="footer-img-name">
                            <h3 class="footer-item__title">Isko Inna</h3>
                            <p class="footer-item__work">modal</p>
                        </div>
                    
                </li>
                <li class="footer-item">
                    
                        <img class="footer-img__team" id="2" src="/src/images/team/Bogdan.jpg" alt="Bogdan">
                        <div class="footer-img-name">
                            <h3 class="footer-item__title">Nadebernyy Bohdan</h3>
                            <p class="footer-item__work">header / Scrum</p>
                        </div>
                </li>
                <li class="footer-item">
                    
                        <img class="footer-img__team" id="3" src="/src/images/team/Oksana.jpg" alt="Oksana">
                        <div class="footer-img-name">
                            <h3 class="footer-item__title">Mashtaler Oksana</h3>
                            <p class="footer-item__work">pagination / language</p>
                        </div>
                </li>
                <li class="footer-item">
                    
                        <img class="footer-img__team" id="4" src="/src/images/team/Maks.jpg" alt="Maks">
                        <div class="footer-img-name">
                            <h3 class="footer-item__title">Budiukin Maks</h3>
                            <p class="footer-item__work">firebase</p>
                        </div>
                </li>
                <li class="footer-item">
                    
                        <img class="footer-img__team" id="5" src="/src/images/team/Olena.jpg" alt="Olena">
                        <div class="footer-img-name">
                            <h3 class="footer-item__title">Pastushenko Olena</h3>
                            <p class="footer-item__work">gallery</p>
                        </div>
                </li>
                <li class="footer-item">
                    
                        <img class="footer-img__team" id="6" src="/src/images/team/Yurik.jpg" alt="Yurii">
                        <div class="footer-img-name">
                            <h3 class="footer-item__title">Yurii Dets</h3>
                            <p class="footer-item__work">Queue</p>
                        </div>   
                        
                </li>
                <li class="footer-item">
                    
                        <img class="footer-img__team" id="7" src="/src/images/team/Anastasya.jpg" alt="Anastasiia">
                        <div class="footer-img-name">
                            <h3 class="footer-item__title">Anastasiia Botoday</h3>
                            <p class="footer-item__work">modal card</p>
                        </div>
                </li>
                <li class="footer-item">
                    
                        <img class="footer-img__team" id="8" src="/src/images/team/Ruslan.jpg" alt="Ruslan">
                        <div class="footer-img-name">
                            <h3 class="footer-item__title">Samigulin Ruslan</h3>
                            <p class="footer-item__work">render card</p>
                        </div>
                </li>
                <li class="footer-item">
                    
                        <img class="footer-img__team" id="9" src="/src/images/team/Zhenya.jpg" alt="Yevhen">
                        <div class="footer-img-name">
                            <h3 class="footer-item__title">Altunin Yevhen</h3>
                            <p class="footer-item__work">modal @mail</p>
                        </div>
                </li>
                <li class="footer-item">
                    
                        <img class="footer-img__team" id="10" src="/src/images/team/Vlad.jpg" alt="Vladislav">
                        <div class="footer-img-name">
                            <h3 class="footer-item__title">Lisovyi Vladislav</h3>
                            <p class="footer-item__work">filter by genre</p>
                        </div>
                </li>
                <li class="footer-item">
                    
                        <img class="footer-img__team" id="11" src="/src/images/team/Anton.jpg" alt="Anton">
                        <div class="footer-img-name">
                            <h3 class="footer-item__title">Kovsh Anton</h3>
                            <p class="footer-item__work">chat</p>
                        </div>
                </li>
                <li class="footer-item">
                    
                    <img class="footer-img__team" id="12" src="/src/images/team/VladBodnar.jpg" alt="Vlad">
                    <div class="footer-img-name">
                        <h3 class="footer-item__title">Bodnar Vlad</h3>
                        <p class="footer-item__work">spinner</p>
                    </div>
            </li>
                <li class="footer-item">
                    
                        <img class="footer-img__team" id="13" src="/src/images/team/Serhii.jpg" alt="Serhii">
                        <div class="footer-img-name">
                            <h3 class="footer-item__title">Kaminskyi Sergii</h3>
                            <p class="footer-item__work">footer / Team Lead</p>
                        </div>
                </li>
                </ul>
                <button class="footer-modal__close">
                    <svg class="footer-modal__close--svg" width="15px" height="15px">
                        <use href="/src/images/sprite.svg#icon-close">

                        </use>
                    </svg>
                </button>
        
        

        
    </div>
</div>




