<footer class="footer">
<div class="container footer-cont">
    <p class="footer-text footer-text--one">&#169; 2022 | All Rights Reserved | </p>
        <div class="footer-cont__text">
            <p class="footer-text footer-text--two">Developed with</p>
        <p>
            <svg class="footer-svg" width="32" height="32">
                <use href="/src/images/sprite.svg#icon-logo-1">
                </use>
            </svg>
        </p>
        <p class="footer-text">by <button class="footer-btn" type="button">GoIT Students</button></p>
        </div>
</div>
</footer>



