<section class="gallery">
    <div class="container gallery__container">
        <!-- <div class="gallery__placefolder">
        </div> -->

        <ul class="gallery__list">
            <li class="gallery__item">
                <div class="gallery__placefolder-card">
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__placefolder-card">
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__placefolder-card">
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__placefolder-card">
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__placefolder-card">
                </div>
            </li>
        </ul>
    </div>
</section>