<div class="backdrop " data-modal>
    <div class="modal ">
        <button class="modal__btn-close">
            <svg class="modal-icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-container">
            <div class="modal-vrap">
                </div>
                <ul class="modal__btn-list">
                    <li class="modal__btn-item">
                        <button type="button" class="modal__btn watched">add to Watched</button>
                    </li>
                    <li class="modal__btn-item">
                        <button type="button" class="modal__btn queue">add to queue</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>