<header class="my_library-header">
    <div class="header__container container">
        <div class="header__thumb">
            <div class="header__logo">
                <a class="logo" href="/src/index.html">
                    <svg class="logo__icon">
                        <use href="/src/images/sprite.svg#icon-film"></use>
                    </svg>
                    <h2 class="logo__title">
                        Filmoteka
                    </h2>
                </a>
            </div>
            <div class="header__nav">
                <ul class="navigation">
                    <li class="navigation__list"><a class="navigation__link" href="/src/index.html">home</a></li>
                    <li class="navigation__list  navigation__list-active"><a class="navigation__link" href="/src/my-library.html">my library</a></li>
                </ul>
            </div>
        </div>
        <div class="header__btn">
            <ul class="header-my_library-btn">
                <li class="my_library-btn_list ">
                  <button class="my_library-btn_watched  is-active">watched</button>
                </li>
                <li class="my_library-btn_list ">
                  <button class="my_library-btn_queue ">queue</button>
                </li>
              </ul>            
        </div>
    </div>
</header>