.contact-us__icon {
  position: fixed;
  top: 200px;
  left: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: myAnim 3s linear 0s infinite reverse forwards;

  @media screen and (min-width: 768px) {
    left: 20px;
    top: 300px;
    width: 70px;
    height: 70px;
  }
  @media screen and (min-width: 1280px) {
    left: 50px;
    top: 300px;
    width: 70px;
    height: 70px;
  }
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
.contact-us__icon:hover {
  transform: scale(1.1);
  fill: rgb(0, 255, 47);
}
