.open-feedback-modal-btn {

}

.js-feedback-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: rgba(0, 0, 0, 0.3);

    transition: opacity var(--default-transition), visibility var(--default-transition);
}

.feedback-modal {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;
    width: 528px;
    border-radius: 4px;

    min-height: 320px;
    background-color: var(--bgc);
}

.feedback-form__close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    
    background-color: transparent;
    border-radius: 50%;
    border-color: transparent;

    transition: background-color var(--default-transition), color var(--default-transition);

    &:hover,
    &:focus {
        background-color: var(--bgc-btn);
        color: var(--color-text);
    }
}

.feedback-form__close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: var(--color-title);
    width: 30px;
    height: 30px;

    transition: stroke var(--default-transition);

    .feedback-form__close-btn:hover &,
    .feedback-form__close-btn:focus & {
        stroke: var(--bgc);
     }
    
}

.feedback-form__title { 
    font-family: var(--fontFamily-roboto);
    line-height: 1.16;
    text-align: center;
    margin-bottom: 12px;
}

.feedback-form__lable {
    font-family: var(--fontFamily-roboto);
    line-height: 1.33;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.feedback-form__thumb {
    position: relative;
}

.feedback-form__input {
    font-family: var(--fontFamily-roboto);
    line-height: 1.33;

    width: 100%;
    margin-top: 6px;
    padding-left: 38px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;

    transition: border-color var(--default-transition);

    &:focus {
        outline: none;
        border-color: var(--color-genre);
    }

    &::placeholder {
        color: var(--color-category);
        font-family: var(--fontFamily-roboto);
        line-height: 1.33;
    }
}

.feedback-form__input-icon {
    position: absolute;
    top: 37%;
    left: 12px;

    transition: fill var(--default-transition);

    .feedback-form__input:focus-within + & {
        fill: var(--color-genre);
    }    
}

.feedback-form__input--textarea-message {
    @extend .feedback-form__input;
    height: 120px;
    resize: none;
    padding: 12px;
    
}

.feedback-form__submit-button {
    border-radius: 5px;

    font-family: var(--fontFamily-roboto);
    line-height: 1.33;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 134px;
    height: 44px;

    background-color: var(--bgc);
    color: var(--color-title);
    
    transition: background-color var(--default-transition), 
        color var(--default-transition), 
        border var(--default-transition);

    &:hover,
    &:focus {
        border-color: transparent;
        background-color: var(--bgc-btn);
        color: var(--color-text);
    }
}

