select {
    padding: 4px;
}

.select {
    display: block;
    max-width: 215px;
    width: 100%;
    position: relative;

}

.new-select {
    position: relative;
    border: 2px solid #860B1B;
    background-color: #182025;
    color: #f5f4fa;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
}

.new-select__list {
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid #000000;
    cursor: pointer;
    
    width: 100%;
    z-index: 2;
    color: #f5f4fa;
        background-color: #182025;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
    .new-select__list {
        
width: 340px;
    }
}

@media screen and (min-width: 768px) {
    .new-select__list {
        width: 520px;

    }
}

.new-select__list.on {
    display: block;
}

.new-select__item {
    margin-right: 20px;
        width: 140px;
}



@media screen and (min-width: 768px) {
    .new-select__item:nth-child(3n) {
        margin-right: 0;
    }
}

.new-select__item span {
    display: block;
    padding: 10px 15px;
}

.new-select__item span:hover {
    color: #f5f4fa;
        background: #860B1B;
}

.new-select:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 9px;

    opacity: 0.6;

    -webkit-transition: all .27s ease-in-out;
    -o-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


// .filter-list {
//     padding: 0px;
//     display: flex;
//     justify-content: start;
//         flex-wrap: wrap;
//         margin-top: 10px;
// }

// @media screen and (min-width: 768px) {
//     .filter-list {
//         justify-content: center;
//             flex-wrap: nowrap;
//             margin-top: 0px;
//     }
// }

// .list {
//     list-style-type: none;
//     padding: 0;
// }

// .filter-list__item {

//     border-radius: 4px;
//     box-shadow: 0px;
  
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
// }

// .filter-list__item:last-child {
//     margin-right: 0px;
// }
// @media screen and (max-width: 768px){
// .filter-list__item:nth-child(-n+4) {
//         margin-bottom: 5px;
//     }
// }
// @media screen and (max-width: 400px) {
//     .filter-list__item:nth-child(-n+5) {
//         margin-bottom: 5px;
//     }
// }

// @media screen and (max-width: 767px) {
//     .filter-list__item {
//         margin-right: 4px;
//     }
// }
// .item {
//     list-style-type: none;
// }

// .filter-list__btn {
//     padding: 0px 20px;
//     min-height: 30px;
//     box-sizing: border-box;
//     border: 2px solid #860B1B;
//     border-radius: 4px;
//     color: #f5f4fa;
//     background-color: #182025;
//     font-family: 'Roboto';
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.62;
//     text-align: center;
//     letter-spacing: .03em;
//     cursor: pointer;
    
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

// }

// @media screen and (min-width: 768px) {
//     .filter-list__btn {
//             border-top: 0px;
//             border-bottom-left-radius: 7px;
//             border-bottom-right-radius: 7px;
//             border-top-left-radius: 0px;
//             border-top-right-radius: 0px;
//     }
// }

// .filter-list__btn:hover,
// .filter-list__btn:focus {
//     color: #f5f4fa;
//     background: #860B1B;
    
//     transform: scale(1.03);
  
    
// }




