select {
    padding: 4px;
}

.select {
    display: block;
    max-width: 215px;
    width: 100%;
    position: relative;

}

.new-select {
    position: relative;
    border: 2px solid #860B1B;
    background-color: #182025;
    color: #f5f4fa;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
}

.new-select__list {
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid #000000;
    cursor: pointer;
    
    width: 100%;
    z-index: 2;
    color: #f5f4fa;
        background-color: #182025;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
    .new-select__list {
        
width: 340px;
    }
}

@media screen and (min-width: 768px) {
    .new-select__list {
        width: 520px;

    }
}

.new-select__list.on {
    display: block;
}

.new-select__item {
    margin-right: 20px;
        width: 140px;
}



@media screen and (min-width: 768px) {
    .new-select__item:nth-child(3n) {
        margin-right: 0;
    }
}

.new-select__item span {
    display: block;
    padding: 10px 15px;
}

.new-select__item span:hover {
    color: #f5f4fa;
        background: #860B1B;
}

.new-select:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 9px;

    opacity: 0.6;

    -webkit-transition: all .27s ease-in-out;
    -o-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
