.backdrop-team{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
    transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
    }
    
    
.modal-team{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 90%;
    background:linear-gradient((30deg, rgba(164, 33, 33, 1), #0000) 45.71%), 
    linear-gradient(31deg, rgba(32, 31, 31, 1), #0f00 100.71%),
     linear-gradient(214deg, #abb81fcc, rgba(0, 0, 0, 1) 70.71%);

    
    outline: 4px solid rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px 20px;
    
    
    @media screen and (min-width:768px){
        width: 570px;
        height: 410px;
    }

    @media screen and (min-width:1280px){
        width: 650px;
        height: 410px;
        justify-content: start;
    }

}

.modal-team::-webkit-scrollbar {
    

  }
.modal-team__btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    stroke: red;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--default-transition); 
display: flex;
justify-content: center;
align-items: center; 
&:hover, &:focus{
    transform: scale(1.2);
    background-color: #000000;
}
}
.modal-team__btn{
    position: fixed;
    bottom: 25%;
    right: 50%;
    width: 100px;
    height: 50px;
}

.modal-team__container{
    @media screen and (max-width:767px){
        display: contents;
    }
    @media screen and (min-width:768px){
        display: flex;
    }
}


    .modal-team__img{
        
        @media screen and (max-width:767px){
        display: none;
        }
        @media screen and (min-width:768px){
            height: 90%;
        /* align-content: center; */
        display: flex;
        align-items: center;
        width: auto;
        }
        @media screen and (min-width:1280px){
        
        border-radius: 60px;
        
        
        }
}

.modal-team__img img{
    height: 300px;
    width: 250px;
    border-radius: 30px;
    
    @media screen and (min-width:768px){
        height: 260px;
        width: 210px
    }
    @media screen and (min-width:1280px){
        height: 300px;
        width: 240px;
    }
}

.modal-team__film{
    @media screen and (max-width:767px){
        margin-bottom: 20px
    }
    
    margin-bottom: 10px
}

.modal-team__cont--top{
    @media screen and (max-width:767px){
        margin-left: 0;
    }
    margin-left: 20px;
}

.modal-team__name{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    color: white;
    border-radius: 10px;
}


.top-films__img{
    width: 100px;
    height: 140px;
}

.modal__films--top , .modal__actor--top{
    margin-bottom: 5px;
    color: white;
    text-decoration: underline;
    font-style: italic;
    transition: var(--default-transition);
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:hover{
        color: yellow;
    }
}

.top-films__list , .top-actor__list{
    @media screen and (max-width: 767px){
        display: flex;
        justify-content: center;
    }
    display: flex;
    margin-bottom: 10px;
    transition: var(--default-transition);
}

.top-actor__list.is-hidden, .top-films__list.is-hidden{
    transform: translateX(100%)
}

.top-films__item + .top-films__item{
    margin-left: 10px;
}

.top-actor__list + .top-actor__list{
    margin-left: 10px;
}