$tablet: 768px;
$desktop: 1280px;

.gallery__img {
    width: 280px;
    height: 402px;
    margin-bottom: 10px;

    border-radius: 5px;

    @media screen and (min-width:$tablet) {
        width: 336px;
        height: 455px;
        margin-bottom: 8px;
    }

    @media screen and (min-width:$desktop) {
        width: 395px;
        height: 574px;
        margin-bottom: 12px;
    }
}

.gallery__title {
    font-family: var(--fontFamily-roboto);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--color-title);

    @media screen and (min-width:1280px) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.gallery__genre {
    font-family: var(--fontFamily-roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: var(--color-genre);

    @media screen and (min-width:1280px) {
        font-size: 20px;
        line-height: 1.2;
    }

}