.header {
    display: block;

    background-image: url(/src/images/header/abstract-background\(320px\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;

    &__thumb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0 54px 0;

        @include media-min (768px) {
            padding: 40px 0 40px 0;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__form {
        display: flex;
        justify-content: center;
        padding-bottom: 92px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @include media-min(768px) {
        background-image: url(/src/images/header/abstract-background\(768px\).jpg);
    }

    @include media-min(1200px) {
        background-image: url(/src/images/header/abstract-background.jpg);
    }
}

.navigation {
    display: flex;
    color: var(--color-text);
    
    &__list { 
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &-active::after {
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            content: '';
            background-color: var(--color-underline);
        }
    }
    &__list:first-child {
        margin-right: 32px;  
    }
    
    &__link {
        text-transform: uppercase;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        transition: transform 500ms ease-in-out;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        stroke: var(--color-text);
        width: 24px;
        height: 100%;
        animation-name: logoRotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        box-shadow: 0;
        transition: box-shadow 500ms ease-in-out,
        border-radius 500ms ease-in-out;

        &:hover, &:focus {
            background-color: transparent;
            border-radius: 4px;
            box-shadow: 1px 1px 10px 5px var(--color-text);
        }
    }
    
    &__title {
        border-radius: 10px;
        display: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: var(--color-text);
        margin-left: 34px;
        transition: scale var(--default-transition);
        
        &:hover, &:focus {
            scale: 1.05;
        }

        @include media-min(768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        
        & span {
            transition: 1s;
            
            &:nth-child(10n + 1){
                transition-delay: 0.1s;
            }
            &:nth-child(10n + 2){
                transition-delay: 0.25s;
            }
            &:nth-child(10n + 3){
                transition-delay: 0.4s;
            }
            &:nth-child(10n + 4){
                transition-delay: 0.55s;
            }
            &:nth-child(10n + 5){
                transition-delay: 0.7s;
            }
            &:nth-child(10n + 6){
                transition-delay: 0.85s;
            }
            &:nth-child(10n + 7){
                transition-delay: 1s;
            }
            &:nth-child(10n + 8){
                transition-delay: 1.15s;
            }
            &:nth-child(10n + 9){
                transition-delay: 1.3s;
            }
        }
        
        &:hover span{
            filter: blur(20px);
            opacity: 0;
            transform: scale(2);
        }
    }
}

@keyframes logoRotate {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(360deg);
    }
  }


.form-search {
    position: relative;
    
    &__input {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid var(--color-text);
        color: var(--color-text);
        width: 280px;
        height: 20px;
        font-size: 14px;
        padding: 2px 23px 2px 2px;
        transition: border-radius 400ms linear,
        border-bottom 500ms linear,
        box-shadow 400ms linear;

        &::placeholder{
            color: var(--color-text);
        }

        &:hover, &:focus {
            border-radius: 4px;
            border-bottom: transparent 1px solid;
            outline: transparent;
            box-shadow: 1px 2px 25px 0px var(--color-text);
        }

        @include media-min(768px) {
            width: 336px;
        }

        @include media-min(1200px) {
            width: 394px;
        }

    }

    &__submit {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
        height: 100%;
        cursor: pointer;
    }

    &__icon {
        stroke: var(--color-text);
        width: 12px;
        height: 12px;
    }
}