.header {
    display: block;

    background-image: url(/src/images/header/abstract-background\(320px\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;

    &__thumb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0 54px 0;

        @include media-min (768px) {
            padding: 40px 0 40px 0;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__form {
        display: flex;
        justify-content: center;
        padding-bottom: 92px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @include media-min(768px) {
        background-image: url(/src/images/header/abstract-background\(768px\).jpg);
    }

    @include media-min(1200px) {
        background-image: url(/src/images/header/abstract-background.jpg);
    }
}

.navigation {
    display: flex;
    color: var(--color-text);
    
    // &__list { 
    //     position: relative;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

    //     &-active::after {
    //         position: absolute;
    //         bottom: -3px;
    //         left: 0;
    //         width: 100%;
    //         height: 3px;
    //         content: '';
    //         background-color: var(--color-underline);
    //     }
    // }
    &__list:first-child {
        margin-right: 32px;  
    }
    
    &__link {
        text-transform: uppercase;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        transition: transform 500ms ease-in-out;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        stroke: var(--color-text);
        width: 24px;
        height: 100%;
        animation-name: logoRotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        box-shadow: 0;
        transition: box-shadow 500ms ease-in-out,
        border-radius 500ms ease-in-out;

        &:hover, &:focus {
            background-color: transparent;
            border-radius: 4px;
            box-shadow: 1px 1px 10px 5px var(--color-text);
        }
    }
    
    &__title {
        border-radius: 10px;
        display: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: var(--color-text);
        margin-left: 34px;
        transition: scale var(--default-transition);
        
        &:hover, &:focus {
            scale: 1.05;
        }

        @include media-min(768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        
        & span {
            transition: 1s;
            
            &:nth-child(10n + 1){
                transition-delay: 0.1s;
            }
            &:nth-child(10n + 2){
                transition-delay: 0.25s;
            }
            &:nth-child(10n + 3){
                transition-delay: 0.4s;
            }
            &:nth-child(10n + 4){
                transition-delay: 0.55s;
            }
            &:nth-child(10n + 5){
                transition-delay: 0.7s;
            }
            &:nth-child(10n + 6){
                transition-delay: 0.85s;
            }
            &:nth-child(10n + 7){
                transition-delay: 1s;
            }
            &:nth-child(10n + 8){
                transition-delay: 1.15s;
            }
            &:nth-child(10n + 9){
                transition-delay: 1.3s;
            }
        }
        
        &:hover span{
            filter: blur(20px);
            opacity: 0;
            transform: scale(2);
        }
    }
}

@keyframes logoRotate {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(360deg);
    }
  }


.form-search {
    position: relative;
    
    &__input {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid var(--color-text);
        color: var(--color-text);
        width: 280px;
        height: 20px;
        font-size: 14px;
        padding: 2px 23px 2px 2px;
        transition: border-radius 400ms linear,
        border-bottom 500ms linear,
        box-shadow 400ms linear;

        &::placeholder{
            color: var(--color-text);
        }

        &:hover, &:focus {
            border-radius: 4px;
            border-bottom: transparent 1px solid;
            outline: transparent;
            box-shadow: 1px 2px 25px 0px var(--color-text);
        }

        @include media-min(768px) {
            width: 336px;
        }

        @include media-min(1200px) {
            width: 394px;
        }

    }

    &__submit {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
        height: 100%;
        cursor: pointer;
    }

    &__icon {
        stroke: var(--color-text);
        width: 12px;
        height: 12px;
    }
}

//  Авторизація

.auth-button {
    background-color: transparent;
    color: var(--color-text);
    font-weight: 600;
    font-size: 12px;
    padding: 5px;
    border: 1px solid var(--bgc-footer-arrow);
    border-radius: 4px;
    transition: background-color 500ms var(--cubic-bezier);

    &:hover {
        background-color: var(--bgc-btn);
        cursor: pointer;
    }
  }
  .sign-up-modal {
    position: absolute;
    top: 40px;
    left: 0;
    width: 250px;
    padding: 28px 15px 22px 15px;
    background-color: #2F2F2F;
    border: 1px solid var(--color-text);
    border-radius: 5px;
    z-index: 10;
  }
  .sign-input-section {
  text-align: center;
  }
  .sign-input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 14px;
    color: var(--bgc-btn);
    min-width: 85%;
    height: 25px;
    font-size: 14px;
    &:hover,
    &:focus {
      border: 2px solid white;
      border-radius: 4px;
      outline: none;
  }

  }
  .sign-button {
    width: 136px;
    padding: 13px;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 1.33;
    background-color: var(--color-text);
    transition-property: background-color, color, border;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: var(--bgc-btn);
      border: 1px solid transparent;
      color: var(--color-text);
    }
  }
  .sign-input-placeholder {
    position: relative;
  }
  .sign-input-label {
    position: absolute;
    top: 0;
    left: 25;
    font-size: 12px;
    color: white;
    background-color: #2F2F2F;
  }
  .sign-in-warning,
  .sign-up-warning {
    min-height: 28px;
    color: var(--color-underline);
  }
  .sign-close-button {
    position: absolute;
    top: 0;
    right: 0;
    stroke: #fff;
    background-color: transparent;
    padding: 10px;
    border: none;
    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        stroke: var(--bgc-btn);
        cursor: pointer;
    }
  }
  .totally-hidden {
    display: none;
  }

  #hello {
    position: absolute;
    top: 60px;
    left: 80px;
    // text-align: right;
    font-style: italic;
    color: var(--color-text);
    transform: translateY(-30px);

    @include media-min(768px){
        left: 50px;
    }
  }

// NAVIGATION
.nav {
    position: relative;
}
.nav-list {
    display: flex;
    min-width: 250px;
    justify-content: end;
    align-items: center;
    color: var(--color-text);

    &__item {
        transition: scale 500ms var(--cubic-bezier);
    
        &:hover, &:focus {
            scale: 1.2;
        }
    }
    
    &__link {
        font-size: 12px;
        text-decoration: none;
        color: var(--color-text);
        position: relative;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    
        &-active::after {
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            content: '';
            background-color: var(--color-underline);
        }
    }

    & &__item + &__item {
        margin-left: 20px;
    }

    @include media-min (768px) {
        min-width: 200px;
    }
}

