$tablet: 768px;
$desktop: 1024px;

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--backdrop-bg);
  z-index: 1;
  transition: opacity 500ms var(--cubic-bezier),
    visibility 500ms var(--cubic-bezier);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  // // height: 940px;
  width: 280px;
  height: 95%;
  overflow: auto;

  background-color: var(--color-text);

  @media screen and (min-width: $tablet) {
    width: 704px;
    height: auto;
  }

  @media screen and (min-width: $desktop) {
    width: 806px;
    height: auto;
  }
}

.modal::-webkit-scrollbar {
  width: 0;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 50%;

  outline: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: box-shadow 250ms var(--cubic-bezier);
  cursor: pointer;

  &:focus,
  &:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px 0 var(--bgc-btn) inset, 0 0 5px 2px var(--bgc-btn);
  }
}

.modal-icon {
  stroke: var(--color-title);
  width: 30px;
  height: 30px;

  &:focus,
  &:hover {
    stroke: var(--bgc-btn);
  }
}

// ----------------------------------------------
.modal-container {
  padding: 48px 20px 40px 20px;

  @media screen and (min-width: $tablet) {
    display: flex;
    padding: 40px 36px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 40px 12px;
  }
}

.modal-container-columns {
  @media screen and (min-width: $tablet) {
    width: 264px;
  }

  @media screen and (min-width: $desktop) {
    width: auto;
  }
}

.modal__img {
  width: 240px;
  height: 357px;
  border-radius: 5px;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    width: 264px;
    height: 374px;
    margin-bottom: 0;
    margin-right: 68px;
  }

  @media screen and (min-width: $desktop) {
    width: 375px;
    height: 478px;
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.modal__name {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: var(--fontFamily-roboto);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  color: var(--fontFamily-black);

  @media screen and (min-width: $tablet) {
    line-height: 1.15;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.modal__list-theme {
  margin-right: 40px;

  @media screen and (min-width: $desktop) {
    margin-right: 85px;
  }
}

.modal__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal__item-text {
  font-family: var(--fontFamily-roboto);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--color-category);
}

.modal__item-value {
  font-family: var(--fontFamily-roboto);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--color-title);

  &.slash {
    color: var(--color-category);
  }
}

.modal__hightlight {
  border-radius: 5px;
  font-family: var(--fontFamily-roboto);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  &.selected {
    padding: 1px 10px;
    background-color: var(--bgc-btn);
    color: var(--color-text);
  }

  &.not-selected {
    padding: 1px 5px;
    background-color: var(--bgc-footer-arrow);
    color: var(--color-title);
  }
}

.modal-conteiner-ul {
  display: flex;
  margin-bottom: 20px;
}

.modal__about {
  margin-bottom: 8px;

  font-family: var(--fontFamily-roboto);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--color-title);
  text-transform: uppercase;
}

.modal__description {
  margin-bottom: 20px;
  font-family: var(--fontFamily-roboto);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  color: var(--color-title);
}

// // -----------------btn-----------------------------
.modal__btn-list {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
  }
}

.modal__btn {
  width: 110px;
  height: 44px;

  border-radius: 5px;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  font-family: var(--fontFamily-roboto);

  border: 1px solid var(--color-title);
  text-transform: uppercase;
  color: var(--color-title);
  transition: border-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    width: 125px;
  }

  @media screen and (min-width: $desktop) {
    width: 136px;

    &.watched {
      margin-right: 15px;
    }
  }

  &.watched:focus,
  &.watched:hover,
  &.queue:focus,
  &.queue:hover {
    color: var(--bgc-footer-arrow);
    background-color: var(--bgc-btn);
    border-color: var(--bgc-btn);
    box-shadow: 0 0 10px 0 var(--bgc-btn) inset,
      0 0 10px 4px var(--color-category);
  }
}
.btn-play {
  position: absolute;
  left: 210px;
  bottom: 117px;

  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-genre);
  text-shadow: 0 5px 10px var(--color-genre);
  border-radius: 50%;
  border: 2px solid var(--color-genre);
  background-color: var(--color-title);

  transition: border 1500ms cubic-bezier(0.21, 0.42, 0.78, 0.74),
    opacity 1500ms cubic-bezier(0.21, 0.42, 0.78, 0.74),
    scale 1500ms cubic-bezier(0.21, 0.42, 0.78, 0.74);

  &:hover {
    border: none;
    scale: 1.1;
    box-shadow: 0 1.5em 1.5em -0.4em var(--color-genre);
  }
}
// .modal-img-wrap {
//   position: relative;
//   width: 100%;
//   overflow: hidden;
//   &:hover > .btn-play {
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     opacity: 1;
//     transition: transform 1500ms cubic-bezier(0.21, 0.42, 0.78, 0.74),
//       opacity 2000ms cubic-bezier(0.21, 0.42, 0.78, 0.74),
//       border 1500ms cubic-bezier(0.21, 0.42, 0.78, 0.74),
//       scale 1500ms cubic-bezier(0.21, 0.42, 0.78, 0.74);
//   }
// }
