.thank-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
        padding: 40px;
        max-width: 528px;
        border-radius: 4px;
        margin-top: 50px;
    
        min-height: 320px;
        background-color: var(--bgc-footer-arrow);
    
}

.thank__title {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;

    margin-bottom: 30px;
}

.thank__text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;

    margin-bottom: 15px;
}

.thank__link{
    font-size: 14px;
    line-height: 1.16;
    display: block;
    @media screen and (min-width: 480px) {
        font-size: 18px;
    }
}